* {
    box-sizing: border-box;
}

body {
    min-width: 400px;
    height: 400px;
}

/* format of the navigation bar */
#navigation {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin: 0 0 10px 0;
}

#navigation > div {
    flex-basis: 50%;
    text-align: center;
    font-size: 15px;
    background-color: #333333;
    color: #ffffff;
}

#navigation > div.current {
    background-color: #4CAF50
}


#navigation > div:not(.current):hover {
    background-color: #dddddd;
    color: #222222;
}

/* format of the overall flexbox */
#flexbox {
    display: flex;
    width: 400px;
    flex-direction: row;
    justify-content: space-between;
}

/* format of the output header */
#outputHeader {
    display: flex;
    width: 220px;
    flex-direction: row;
}

#outputHeader > .date {
    flex-basis: 80%;
    align-self: center;    
    text-align: center;
    font-size: 30px;
    height: 40%
}

#outputHeader > .button {
    flex-basis: 10%;
    align-self: center;
    text-align: center;
    cursor: pointer;
    height: 20%;
}

#outputHeader > .button:not(.future):hover {
    background-color: #dddddd;
}

.future {
    color: #AAAAAA
}
/* format of the calendar heading */
#heading {
    display: flex;
    width: 140px;
    flex-direction: row;
    font-size: 12px;
}

#heading > .side {
    flex-basis: 10%;
    text-align: center;
    cursor: pointer;    
}

#heading > .center {
    flex-basis: 80%;
    text-align: center;
}

#heading > .side:not(.future):hover {
    background-color: #dddddd;
}

/* format of the calendar days */
#dates {
    display: flex;
    width: 140px;
    flex-flow: row wrap;
    justify-content: left;
    font-size: 10px;
}

.day, .dayName {
    flex-basis: 20px;
    text-align: center;
    color: #AAAAAA;
}

.dayName:not(:nth-child(7n + 1)) {
    color: black;
}

.dayName:nth-child(7n + 1) {
    color: red;
}

.today {
    background-color: rgb(145, 215, 224);
}

.hasWord:not(:nth-child(7n + 1)) {
    font-weight: bold;
    cursor: pointer;
    color: black;
}


.hasWord:nth-child(7n + 1) {
    color: red;
    font-weight: bold;
    cursor: pointer;
}

.hasWord:hover {
    background-color: #dddddd;  
}

/* format of the wordlist */
#wordList {
    display: flex;
    flex-flow: row wrap;
    height: 210px;
    overflow-y: auto;
    align-content: flex-start;
}

#wordList > * {
    margin: 2px 0;
}

/* format of the listView */
#listView {
    height: 300px;
    margin: 0 0 10px 0;
    overflow-y: auto;
}

/* format of the words */
.word {
    flex-basis: 80%;
    color: black;
    font-size: 14px;
}

.noWord {
    color: red;
    list-style-type: none;
    font-size: 18px;
    margin: 2px;
}

.yesWord {
    color: green;
    list-style-type: none;
    font-size: 18px;
    margin: 2px;
}

/* format of the minus button */
.minusButton {
    /* flex-basis: 10%; */
    height: 19px;
    color: white;
    background-color: #F44336;
    font-family: "Courier New", Courier, monospace;
    padding: 0.5px 5.5px;
    border-radius: 50%;
    border: none;
    position: relative;
    left: 20px;
    cursor: pointer;
}

.minusButton:hover {
    background-color: #F5A0A0;
}

/* format of the search bar */
#search {
    width: 50%;
    border: 2px solid #cccccc;
    border-radius: 4px;
    margin-left: 50%;
    margin-bottom: 5px;
    background-image:url('image/searchicon.png');
    background-repeat: no-repeat;
    background-position: 5px 4px;
    padding: 5px 15px 5px 25px;
}

/* format of the clear button */
#clear {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 24px;
    width: 120px;
    border-radius: 5px;
    font-size: 15px;
    opacity: 0.5;
    background-color: red;
    color: white;
    cursor: pointer;
}

#clear:hover {
    opacity: 0.9;
}

/* alert box format */
#alert {
    display: none;
    position: absolute;
    bottom: 45%;
    left: 0;
    right: 0;
    margin: 0 10px;
    padding: 10px;
    background-color: #f14539;
    color: white;
    text-align: center;
    font-size: 15px;
}


.alertButtons {
    padding: 2px;
    margin: 10px 5px;
    border: 1px solid #888888;
    background-color: #cccccc;
    cursor: pointer;
}

.alertButtons:hover {
    background-color: #eeeeee;
}